* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #9eccfa80;
  --light-orange: #ffbf00;
  --orange: #ff930e;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--blue);
}

#card {
  width: 400px;
  height: 400px;
  background: linear-gradient(
    to bottom right,
    var(--light-orange),
    var(--orange)
  );
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* #card:hover {
  transform: perspective(400px) rotate3d(-1, 1, 0, 20deg); */
/* transform: perspective(400px) rotateX(-45deg) rotateY(-45deg); */
/* } */
